@import "tailwindcss";
/* @import "tw-animate-css"; */

/* @custom-variant dark (&:is(.dark *)); */

html {
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 1.45vw, 1.25em);
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  background-color: #fbfbfe;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
}

:root {
  /* colors */
  --black: #1a1a1a;
  --white: #ffffff;
  --primary: #0008cc;
  --secondary: #ffc801;
  --border: #efeffb;
  --border-2: #ceced3;
  --input-bg: #fafafa;
  --background: #f5f6fd;
  --background-2: #fbfbfe;
  --success: #00ad00;
  --error: rgba(255, 0, 0);
  --error-2: #fda29b;
  --error-3: #fef3f2;
  --warning: #f0c63d;

  /* typography */

  --h1: clamp(1rem, 3.5vw, 1.25rem);
  --h3: clamp(0.85rem, 2vw, 0.9rem);
  --p1: clamp(0.65rem, 2vw, 0.75rem);
  --p2: clamp(0.55rem, 1.75vw, 0.65rem);
  --p3: clamp(0.45rem, 1.5vw, 0.55rem);
  --p4: clamp(0.35rem, 1.45vw, 0.45rem);

  /* elements */
  --radius: 0.8rem;
  --radius-m: 0.6rem;
  --radius-s: 0.5rem;
  --radius-ss: 0.35rem;
  --padding: clamp(0.75rem, 3vw, 1rem);

  --transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  --cta-hover: brightness(93%);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@media all and (min-width: 1440px) {
  :root {
    --h3: clamp(1rem, 3.5vw, 1.25rem);
  }
}

* {
  color: var(--black);
  box-sizing: border-box;
  font-size: var(--p1);
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  /* transition: var(--transition); */
}

body {
  background: #fbfbfe;
  color: var(--black);
  display: grid;
  overflow: hidden;
  grid-template-columns: 10rem 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
}

h1,
h1 * {
  font-size: var(--h1);
  font-weight: 600;
  line-height: 130%;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: var(--h2);
  font-weight: 600;
  line-height: normal;
  font-family: "Inter", sans-serif;
}

h3 {
  font-size: var(--h3);
  font-weight: 600;
  line-height: normal;
  font-family: "Inter", sans-serif;
}

h3 * {
  font-size: var(--h3);
  font-weight: 600;
  line-height: normal;
  font-family: "Inter", sans-serif;
}
h4 {
  font-weight: 600;
  font-size: var(--h4);
  line-height: normal;
  font-family: "Inter", sans-serif;
}

.font-h-1,
.font-h-1 * {
  font-size: var(--h1) !important;
}
.font-h-2,
.font-h-2 * {
  font-size: var(--h2) !important;
}

.font-h-3,
.font-p-3 * {
  font-size: var(--h3) !important;
}

.font-h-4,
.font-p-4 * {
  font-size: var(--h4) !important;
}

.font-p-1,
.font-p-1 * {
  font-size: var(--p1) !important;
}
.font-p-2,
.font-p-2 * {
  font-size: var(--p2) !important;
}

.font-p-3,
.font-p-3 * {
  font-size: var(--p3) !important;
}

.font-p-4,
.font-p-4 * {
  font-size: var(--p4) !important;
}

p {
  line-height: 180%;
}

ul li {
  line-height: 180%;
}
a {
  text-decoration: none;
}

.cta,
.cta-2 {
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.65rem;
  padding-right: 0.9rem;
  color: var(--white);
  border-radius: var(--radius-s);
  transition: var(--transition);
  cursor: pointer;
  user-select: none;
  width: fit-content;
  font-weight: 500;
  user-select: none;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  background-color: var(--primary);
  font-size: var(--p2);
  height: 2.15rem;
  gap: 0.25rem;
  line-height: 0;
}

.cta svg,
.cta-2 svg {
  height: 0.85rem;
  width: 0.85rem;
}

.cta svg path {
  stroke: var(--white);
  stroke-width: 0.1rem;
}


.icon-tabler {
  stroke-width: 0.1rem;
  stroke: var(--black);
}

.cta-2 {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--border);
}

.cta:hover,
.cta-2:hover {
  filter: var(--cta-hover);
}

.number {
  font-family: "Inter", sans-serif;
}

.number * {
  font-family: "Inter", sans-serif;
}

.page {
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.card {
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: var(--p2);
  font-weight: 600;
  opacity: 0.75;
  padding: 0.5rem;
  padding-bottom: 0;
}

.card-body {
  padding: 0.5rem;
}

.table-card .card-body {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.hide-scrollbar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.checkbox-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-container .checkbox-label {
  font-size: var(--p2);
  opacity: 0.8;
  font-weight: 500;
}

.checkbox-container .checkbox {
  height: 1rem;
  width: 1rem;
  border: 1px solid #cecef3;
  border-radius: 0.25rem;
  font-size: var(--p2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.checkbox-container .checkbox svg {
  height: 0.65rem;
  width: 0.65rem;
  visibility: hidden;
  transform: scale(0);
  transition: var(--transition);
}

.checkbox-container .checkbox svg path {
  stroke: var(--white);
  stroke-width: 3px;
}

.checked .checkbox {
  background-color: var(--primary);
  border: 1px solid transparent;
}

.checked .checkbox svg {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.radio-btn-container {
  display: grid;
  align-items: center;
  gap: 0.5rem;
  grid-template-columns: auto 1fr;
  cursor: pointer;
}

.radio-btn-container .radio-btn {
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--border);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}

.radio-btn-container .radio-btn img {
  height: 1.35rem;
  width: 1.35rem;
  position: absolute;
  top: -0.21rem;
  transition: var(--transition);
  transform: scale(0);
  opacity: 0;
}

.selected-radio-btn .radio-btn {
  border: 1px solid transparent;
}

.selected-radio-btn .radio-btn img {
  transform: scale(1);
  opacity: 1;
}
.radio-btn-container .radio-btn-label {
  height: fit-content;
  width: fit-content;
  border: 0;
  border-radius: 0;
  font-size: var(--p2);
  cursor: pointer;
  opacity: 0.8;
  font-weight: 500;
}

.counter {
  background-color: var(--white);
  height: 1.2rem;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  border: 1px solid var(--border);
  font-size: var(--p3);
  font-weight: 600;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.links .counter {
  position: absolute;
  right: -0.75rem;
}

.input-group {
  display: grid;
  align-items: center;
  height: 2.15rem;
  border-radius: var(--radius-s);
  width: 10rem;
  grid-template-columns: auto 1fr;
  border: 1px solid var(--border);
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.input-group svg {
  height: 0.75rem;
  width: 0.75rem;
  opacity: 0.85;
  margin-right: 0.5rem;
}

.input-group input {
  width: 100%;
  outline: 0;
  background-color: transparent;
  border: none;
  font-size: var(--p2);
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.input-group input::placeholder {
  color: var(--black);
  font-size: var(--p2);
  font-weight: 500;
  opacity: 0.5;
  font-family: "Inter", sans-serif;
}

.years {
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius-s);
}

.years .year {
  font-size: var(--p3);
  height: 2rem;
  width: 2.75rem;
  transition: var(--transition);
}

.years .active-year-indicator {
  width: 2.75rem;
  height: 2rem;
  background-color: var(--white);
  display: flex;
  border: 1px solid var(--border);
  border-radius: var(--radius-s);
  transition: var(--transition);
}

.dropdown {
  background-color: var(--background);
  border-radius: var(--radius-s);
  width: 7rem;
  position: relative;
  cursor: unset;
  justify-items: start;
  transition: var(--transition);
  z-index: 5;
}

.dropdown svg {
  transition: var(--transition);
}

.dropdown-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-active svg {
  transform: rotate(180deg);
}
.dropdown .dropdown-icon {
  cursor: pointer;
  position: absolute;
  right: 0.65rem;
}
.dropdown:hover {
  filter: unset;
}

.dropdown .dropdown-title {
  font-size: var(--p2);
  font-weight: 600;
  cursor: pointer;
  padding-left: 0.75rem;
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.dropdown .dropdown-options {
  position: absolute;
  top: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: var(--background);
  outline: 1px solid var(--border);
  left: 0;
  border-bottom-left-radius: var(--radius-s);
  border-bottom-right-radius: var(--radius-s);
  overflow: hidden;
  transition: var(--transition);
}

.dropdown .dropdown-options .dropdown-option {
  font-size: var(--p2);
  border: 0;
  border-bottom: 1px solid var(--border);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 1.75rem;
  background-color: var(--background);
  border-radius: 0;
  font-weight: normal;
}

.dropdown .dropdown-options .dropdown-option:last-child {
  border-bottom: none;
}

.table {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr 1.8rem;
  overflow: hidden;
}

.table .table-header {
  height: 2rem;
  background-color: var(--background-2);
  border-radius: var(--radius-s);
  display: grid;

  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  gap: 0.75rem;
}

.table .th {
  font-size: var(--p2);
  font-weight: 600;
  opacity: 0.65;
}

.table .tr {
  display: grid;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  gap: 0.75rem;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
  background-color: var(--white);
}

.table .tr * {
  font-size: var(--p2);
}

.table .tr:last-child {
  border-bottom: none;
  padding-bottom: 0rem;
}

.table .table-body {
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

.table .action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table .action .action-1 {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--border);
  border-radius: var(--radius-s);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.table .tr:hover .action-1 {
  background-color: var(--background);
}

.table .action svg {
  height: 0.85rem;
  width: 0.85rem;
  opacity: 0.55;
}

.status {
  font-size: var(--p3);
  height: 1.25rem;
  display: flex;
  line-height: normal;
  align-items: center;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 2rem; */
  text-transform: capitalize;
}

.status span {
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 50%;
  display: flex;
  margin-right: 0.25rem;
  opacity: 0.5;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pagination .page {
  border-radius: var(--radius-s);
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  height: 1.5rem;
  font-size: var(--p3);
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: auto;
  cursor: pointer;
}

.pagination .active {
  background-color: var(--background);
  border: 1px solid var(--border);
}

.date-picker {
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  width: 17rem;
  padding: 0.5rem;
  z-index: 2;
  top: -100%;
  transform: translateY(-70%);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.calendar-grid * {
  font-size: var(--p2);
}

.date-picker .calendar-day,
.calendar-day-header {
  border: 1px solid var(--border);
  height: 1.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendar-day-header {
  height: fit-content;
  border: 0;
}

.date-picker .selected {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--white);
  font-weight: normal;
}

.date-picker .disabled {
  opacity: 0;
}

.date-picker .number {
  font-weight: lighter;
}

.date-input {
  position: relative !important;
}

.error {
  font-size: var(--p3);
  background-color: rgba(255, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.15);
  width: 100%;
  color: var(--error);
  font-weight: 600;
  padding: 0.15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: var(--radius-s);
  display: flex;
  align-items: center;
  justify-content: center;
}

.success {
  font-size: var(--p3);
  background-color: rgba(0, 173, 0, 0.5);
  background-color: rgba(0, 173, 0, 0.05);
  border: 1px solid rgba(0, 173, 0, 0.25);
  width: 100%;
  color: var(--success);
  font-weight: 600;
  padding: 0.15rem;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  width: 100%;
  display: grid;
  height: fit-content;
}

.tabs .tab {
  font-size: var(--p2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition-delay: 0.35s;
  transition: var(--transition);
}

.tabs {
  border-bottom: 1px solid var(--border);
  transition: var(--transition);
}

.tab-indicator {
  height: 1px;
  background-color: var(--primary);
  bottom: -1px;
  transition: var(--transition);
}

.view-modal .graduated-option::before {
  background-color: var(--primary);
}

.deactivated-status .status-label::before {
  background-color: rgb(138, 138, 138);
}

.suspended-status .status-label::before {
  background-color: #f59e0b;
}

.transferred-status .status-label::before {
  background-color: #b3bccf;
}

.expelled-status .status-label::before {
  background-color: #dc2626;
}

.view-modal .expelled-option::before {
  background-color: #dc2626;
}

.graduated-status .status-label::before {
  background-color: var(--primary);
}

.deceased-status .status-label::before {
  background-color: #1f2937;
}

.active-status .status-label::before {
  background-color: var(--success);
}
