@import url("./charts.css");

.overview {
  grid-template-columns: 1fr 1fr 1fr;
}

.overview-container .card {
  height: 7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.charts-events {
  grid-template-columns: 1fr 15rem;
}

@media all and (min-width: 1440px) {
  .charts-events {
    grid-template-columns: 1fr 22rem;
  }
}

.charts {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem auto;
}

.charts .financial-summary {
  grid-column: 1 / span 2;
  height: 20rem;
}

.difference * {
  font-size: var(--p4);
  font-weight: bold;
}

.difference .percentage {
  font-weight: bold;
  padding: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: var(--p4);
  border-radius: 2rem;
}




.student-status{
  padding: 0.15rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 2rem;
  border: 1px solid var(--border);
}

.active-student-status{
  color: var(--success);
  border: 1px solid rgba(3, 149, 3, 0.5);
  background-color: rgba(3, 149, 3, 0.08);
}

.student-overview .student-guardian svg{
  height: 0.8rem;
  width: 0.8rem;
}